{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Password changed" %}{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-5 col-lg-4">
    <div class="card shadow-sm"><div class="card-body p-4 text-center">
      <i class="fas fa-check-circle fa-3x text-success mb-3"></i>
      <h4>{% trans "Password updated" %}</h4>
      <p class="text-muted small">{% trans "Your password was changed. You can now sign in with your new password." %}</p>
      <a href="{% url 'users:login' %}" class="btn btn-primary">{% trans "Sign in" %}</a>
    </div></div>
  </div>
</div>
{% endblock %}
